<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <title>Pastelería</title>
    </head>
    <body>
        <!------------------------------------------------------------------------------------------------------------>
        <!----------------------------------------------- HEADER SECTION --------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------>
        <header class="centered">
            <!--<img src="/assets/Logo_Lumi_500px_bg_nobg.png" alt="Diabettini logo" class="middle" width="250px" height="250px">-->
            <img src="/assets/Logo_Diabettini_Cupcakes_500px_nobg.png" alt="Diabettini logo" class="middle" width="300px" height="300px">
        </header>
        <section class="colored-bg">
            <!------------------------------------------------------------------------------------------------------------>
            <!----------------------------------------------- NAVBAR SECTION --------------------------------------------->
            <!------------------------------------------------------------------------------------------------------------>
            <nav class="menu">
                <ul class="menu">
                    <li class="menu"><a href="index.html" class="menu">Inicio</a></li>
                    <li class="menu"><a href="order.html" class="menu">Pedido</a></li>
                    <li class="menu"><a href="admin.html" class="menu">Administración</a></li>
                    <li class="right-menu"><a href="index.html" class="menu">Acerca de</a></li>
                </ul>
            </nav>

            <!------------------------------------------------------------------------------------------------------------>
            <!------------------------------------------------ BODY SECTION ---------------------------------------------->
            <!------------------------------------------------------------------------------------------------------------>

            <section class="menu-items-left">
                <p class="x-centered">Sabores disponibles</p>
                <dl class="dl-menu-items">
                    <dt>Fresa</dt>
                    <dd>$15.00 MXN</dd>
                    <dt>Chocolate</dt>
                    <dd>$15.00 MXN</dd>
                    <dt>Vainilla</dt>
                    <dd>$15.00 MXN</dd>
                    <dt>Pistache</dt>
                    <dd>$15.00 MXN</dd>
                    <dt>Naranja</dt>
                    <dd>$15.00 MXN</dd>
                    <dt>Nuez</dt>
                    <dd>$15.00 MXN</dd>
                    <dt>Frutos rojos</dt>
                    <dd>$15.00 MXN</dd>
                    <dt>Uva</dt>
                    <dd>$15.00 MXN</dd>
                </dl>
            </section>

            <section class="menu-items-right">
                <p class="x-centered">Adornos disponibles</p>
                <dl class="dl-menu-items">
                    <dt>Chispas de chocolate</dt>
                    <dd>$15.00 MXN</dd>
                    <dt>Nuez en trozos</dt>
                    <dd>$15.00 MXN</dd>
                    <dt>Almendras</dt>
                    <dd>$15.00 MXN</dd>
                    <dt>Lunetas</dt>
                    <dd>$15.00 MXN</dd>
                    <dt>Fondant</dt>
                    <dd>$150.00 MXN</dd>
                    <dt>Impresiones comestibles</dt>
                    <dd>$125.00 MXN</dd>
                    <dt>Frutas</dt>
                    <dd>$15.00 MXN</dd>
                    <dt>Doritos</dt>
                    <dd>$15.00 MXN</dd>
                </dl>
            </section>

            <p class="x-centered">Especifica tu orden</p>
            <section class="section-form">
                <form action="" method="post" class="form-medium-size">
                    <label for="POST-nombreCliente" class="label-styled label-cell">Nombre:</label>
                    <input id="POST-nombreCliente" type="text" name="POST-nombreCliente">
                    <label for="POST-telefonoCliente" class="label-styled label-cell">Teléfono:</label>
                    <input id="POST-telefonoCliente" type="tel" name="POST-telefonoCliente">
                    <label for="POST-emailCliente" class="label-styled label-cell">Correo Electrónico:</label>
                    <input id="POST-emailCliente" type="email" name="POST-emailCliente">
                    <label for="POST-descPastelCliente" class="label-styled label-cell">Descripción del Pastel:</label>
                    <!--<input id="POST-descPastelCliente" type="" name="POST-descPastelCliente">-->
                    <textarea id="POST-descPastelCliente" type="" name="POST-descPastelCliente"></textarea>
                    <br>
                    <section class="section-sabor-pastel">
                        <h4 class="inline-header">Selecciona los sabores</h4><br>
                        <label for="POST-saborPastel1" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-saborPastel1" id="POST-saborPastel1">
                            Fresa
                        </label><br>
                        <label for="POST-saborPastel2" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-saborPastel2" id="POST-saborPastel2">
                            Chocolate
                        </label><br>
                        <label for="POST-saborPastel3" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-saborPastel3" id="POST-saborPastel3">
                            Vainilla
                        </label><br>
                        <label for="POST-saborPastel4" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-saborPastel4" id="POST-saborPastel4">
                            Pistache
                        </label><br>
                        <label for="POST-saborPastel5" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-saborPastel5" id="POST-saborPastel5">
                            Naranja
                        </label><br>
                        <label for="POST-saborPastel6" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-saborPastel6" id="POST-saborPastel6">
                            Nuez
                        </label><br>
                        <label for="POST-saborPastel7" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-saborPastel7" id="POST-saborPastel7">
                            Frutos rojos
                        </label><br>
                        <label for="POST-saborPastel8" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-saborPastel8" id="POST-saborPastel8">
                            Uva
                        </label>
                    </section>

                    <section class="section-adorno-pastel">
                        <h4 class="inline-header">Selecciona los adornos</h4><br>
                        <label for="POST-adornoPastel1" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-adornoPastel1" id="POST-adornoPastel1">
                            Chispas de chocolate
                        </label><br>
                        <label for="POST-adornoPastel2" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-adornoPastel2" id="POST-adornoPastel2">
                            Nuez en trozos
                        </label><br>
                        <label for="POST-adornoPastel3" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-adornoPastel3" id="POST-adornoPastel3">
                            Almendras                            
                        </label><br>
                        <label for="POST-adornoPastel4" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-adornoPastel4" id="POST-adornoPastel4">
                            Lunetas                           
                        </label><br>
                        <label for="POST-adornoPastel5" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-adornoPastel5" id="POST-adornoPastel5">
                            Fondant
                        </label><br>
                        <label for="POST-adornoPastel6" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-adornoPastel6" id="POST-adornoPastel6">
                            Impresiones comestibles
                        </label><br>
                        <label for="POST-adornoPastel7" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-adornoPastel7" id="POST-adornoPastel7">
                            Frutas
                        </label><br>
                        <label for="POST-adornoPastel8" class="label-styled label-checkbox">
                            <input type="checkbox" name="POST-adornoPastel8" id="POST-adornoPastel8">
                            Doritos
                        </label>
                    </section>
                    
                    
                    <section class="section-reset-button">
                        <input type="reset" value="Reiniciar">
                    </section>
                    <section class="section-submit-button">
                        <input type="submit" value="Crear orden">
                    </section>
                </form>
            </section>
           
            <!------------------------------------------------------------------------------------------------------------>
            <!----------------------------------------------- FOOTER SECTION --------------------------------------------->
            <!------------------------------------------------------------------------------------------------------------>
            <footer class="fixed">
                <link rel="stylesheet" type="text/css" href="/styles/style.css">
                
                <section class="left-section">
                    <h4 class="inline-header">Diabettini</h4>
                    <p class="p-just">
                        Negocio familiar pastelero con Chorrocientos años de experiencia.<br>
                        Usamos las recetas mileniales de nuestro abuelo <b>Don Pastelero</b>, fundador de <b>Diabettini!</b>
                    </p>
                </section>
                
                <section class="mid-section">
                    <h4 class="inline-header">Contacto</h4>
                    <ul class="no-bullets">
                        <li class="footer-li"><img src="/assets/location-dot-solid.svg" width="8px" class="svg-footer-icon"> Dirección: Av. Siempre Viva 742</li>
                        <li class="footer-li"><img src="/assets/square-phone-solid.svg" width="8px" class="svg-footer-icon"> Teléfono: +52(618)1666548</li>
                        <li class="footer-li"><img src="/assets/clock-solid.svg" width="8px" class="svg-footer-icon"> Horario: Lu - Vi 08:00 - 19:00 hrs.</li>
                    </ul>
                </section>
                <!--
                <section class="right-section">
                    <p></p>
                </section>
                -->
            </footer>
        </section>
    </body>
</html>