
html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

header{
    background-color: #f1f0f1;
}

header.centered{
    margin: auto;
    display: flex;
    align-items: center;
    /*border-radius: 0.5rem;*/
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

section.centered{
    margin: 1em;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;

}

section.colored-bg{
    background-color: papayawhip;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

section.left-section{
    float: left;
    width: 50%;
    height: 100%;
    bottom: 0px;
    overflow: hidden;
}

section.right-section{
    float: right;
    width: 30%;
    height: 100%;
    bottom: 0px;    
    overflow: hidden;
}

section.mid-section{
    float: none;
    width: 50%;
    height: 100%;
    bottom: 0px;
    overflow: hidden;
}

section.section-form{    
    text-align: center;
    overflow: hidden;
}

section.section-sabor-pastel{
    float: left;
    width: 50%;
    text-align: left;
}

section.section-adorno-pastel{
    float: right;
    width: 50%;
    text-align: left;
}

section.section-reset-button{
    float: left;
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

section.section-submit-button{
    float: right;
    width: 50%;
    justify-content: center;
}

section.menu-items-left{
    float: left;
    width: 50%;
}

section.menu-items-right{
    float: right;
    width: 50%;
}

section.order-list-section{
    float: none;
    width: 80%;
    height: 100%;
    bottom: 0px;
    right: 20%;
    overflow: hidden;
}

img.middle{
    display: inline-block;
    margin: 0 auto;
}

img.rounded{
    border-radius: 0.25em;
}

img.svg-footer-icon{
    filter: invert(13%) sepia(69%) saturate(3483%) hue-rotate(264deg) brightness(93%) contrast(101%);
}

h1.centered{
    text-align: center;
    font-family: 'Calibri';
}

h4.inline-header{
    display: inline;    
    font-family: 'Calibri';
    font-style: bold;    
    color: #551A8B;
}

h5.inline-header{
    display: inline;    
    font-family: 'Calibri';
    font-style: bold;    
    color: #551A8B;
}

ul{
    font-family: 'Calibri';
}

ul.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C09CD9;
    border-radius: 0.25em;
}

ul.no-bullets{
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #551A8B;
    text-align: justify;
}

li.menu{
    display: inline;
    float: left;
    border-right: 1px solid #bbb;
}

li.right-menu{
    display: inline;
    float: right;
    border-left: 1px solid #bbb;
}

li.footer-li{
    margin-left: 42%;
}

a.menu{
    display: block;
    padding: 14px 16px;
    background-color: #C09CD9;
    text-align: center;
    text-decoration: none;
}

a.menu:hover{
    background-color: #7EF2E7;
}

.active{
    background-color: #7EF2E7;
}

footer.fixed{
    position: sticky;
    padding: 0;
    top: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: #C09CD9;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

p.p-just{
    text-align: center;
    font-family: 'Calibri';  
    color: #551A8B;
}

form{    
    display: inline-block;
    border-radius: 1em;
    background-color: #f1f0f1;
    padding: 20px;
    border-color: #551A8B;
    border-width: 1em;
}

form.form-medium-size{
    width: 60%;
}

label.label-styled{
    font-family: 'Calibri';  
    color: #551A8B;
}

label.label-cell{
    display: table-cell;
    text-align: right;
}

label.label-checkbox{
    display: inline-block;
}

input[type=text],input[type=email],input[type=tel],textarea{
    display: table-cell;
    width: 100%;
    border: 2px solid #1F80A6;
    border-radius: 4px;
}

input[type=text]:focus,input[type=email]:focus,input[type=tel]:focus,textarea:focus{
  background-color: #BDA0D9;
}

input[type='checkbox']{
    vertical-align: middle;
}

input[type='checkbox']{
    vertical-align: middle;
}

input[type='submit']{
    font-family: 'Calibri';  
    color: #551A8B;
    border: 0;
    background-color: #BDA0D9;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.25em;
}

input[type='reset']{
    font-family: 'Calibri';  
    color: #80F2DD;
    border: 0;
    background-color: #1F80A6;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.25em;
}

p.x-centered{    
    text-align: center;
    font-family: 'Calibri'; 
    font-size: x-large;  
    font-weight: bold; 
    color: #551A8B;
}

dl.dl-menu-items{
    text-align: left;
    font-family: 'Calibri'; 
    font-size: medium;  
    font-weight: bold; 
    color: #551A8B;
    align-items: center;
}